# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules y Directorios de Distribución
node_modules
dist

# Archivos Locales y de Entorno
*.local
.env

# Archivos del Sistema y de Proyectos
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cobertura de Test
coverage